.pad {
  display: block;
  margin: 0 auto;
  width: 500px;
  border: 1px solid black;
  margin-top: 15px;
  background-color: wheat;
}

.pad p {
  font-size: 5rem;
}

.sound {
  display: block;
  margin: 0 auto;
}

.misc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

h3 {
  margin: 0 auto;
  width: max-content;
  padding: 1rem;
  background-color: crimson;
}