.machine {
  background-color: teal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.drum {
  text-align: center;
}

.sound {
  width: 150px;
}

button {
  border: 1px solid black;
  margin-top: 15px;
}

.break {
  height: 15px;
}